<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Promise</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">


<!-- Login section  -->
<article th:fragment="LoginArticle" id="Login">
    <h2 class="major">Login</h2>
    <!-- Login Image-->
    <span class="image main"><img src="images/pic01.jpg" alt=""/></span>
    <div class="container m-6 my-5 h-100">
        <div class="row ms-5 mx-5">
            <form id="frm" class="form-control container-fluid">
                <div class="mb-3">
                    <label class="form-label" for="id">ID</label>
                    <input class="form-control" type="text" name="id" id="id"/>
                </div>
                <p></p>
                <div class="mb-3">
                    <label class="form-label" for="pwd">PW</label>
                    <input class="form-control" type="password" name="pwd" id="pwd"/>
                </div>
                <p></p>

                <button class="btn btn-outline-primary btn-sm" type="submit">Log In</button>
                <button class="btn btn-outline-primary btn-sm" style="float:right" type="submit">Sign Up</button>
                <!-- DTO 생성 후 수정 예정, 타임리프로 하이퍼링크 이용해야 이동하는 버튼 -->

            </form>
        </div>
    </div>
</article>


</body>
</html>